# OS / editor cruft
.DS_Store
Thumbs.db
*.swp
*.swo
*.orig

# Python bytecode / cache
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Python packaging / build
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Python tests / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#.python-version

# pipenv
#Pipfile.lock

# uv
#uv.lock

# poetry
#poetry.lock
#poetry.toml

# pdm
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#pixi.lock
.pixi

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Python environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# MkDocs
/site

# mypy / type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# Abstra
.abstra/

# Ruff
.ruff_cache/

# PyPI config
.pypirc

# Cursor
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/


# Java / Gradle / Spring Boot
.gradle/
.gradle-cache/
**/build/
out/
target/
bin/
*.class
*.jar
*.war
*.ear
*.log


# IDEs / Editors

# JetBrains / IntelliJ / PyCharm / etc.
.idea/
*.iml
*.ipr
*.iws
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/replstate.xml
.idea/sonarlint/
.idea/sonarlint.xml
.idea/httpRequests
.idea/.cache/.Apifox_Helper
.idea/ApifoxUploaderProjectSetting.xml
.idea/caches/build_file_checksums.ser
.idea/**/copilot.data.migration.*.xml
.idea_modules/
atlassian-ide-plugin.xml

# VS Code
.vscode/

# CMake
cmake-build-*/

# Android / Crashlytics
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# HTTP client (JetBrains)
http-client.private.env.json


# Data / Models / DBs
data/
datasets/
models/
checkpoints/
*.db
*.sqlite
*.sqlite3
*.log.db
*.log.sqlite


# Frontend / Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
